extends ../layout

block content
   
   .row.mx-auto.col-lg-4.col-md-8.col-sm-12
      .col
         h2.text-center.mb-4 Signin
         form
            .form-group
               label(for="exampleInputID1") ID
               input.form-control(type="id" name="id" placeholder="id")
            |
            .form-group
               label(for="exampleInputPassword1") Password
               input.form-control(type="password" name="password" placeholder="password")
            |
            button.btn.btn-primary.mt-2(type="submit") Submit
      