.footer.border-top.mt-5
   .row.mx-auto.col-lg-8.col-md-10.col-sm-12.mt-3
      .col.col-lg-6.col-md-6.col-sm-6
         p.text-muted
            | Made by Jaehyeon
      .col.col-lg-6.col-md-6.col-sm-6
         .text-right
            a(href="https://github.com/Jaehyeon0415")
               img(src="./images/github_mark.png" alt="github")
            