.row.mx-auto.col-lg-8.col-md-12.col-sm-12
   .col.col-lg-8.col-md-10.col-sm-12.mx-auto
      .shadow.bg-white.rounded
         .card
            .carousel.slide(id="carouselExampleSlidesOnly" data-ride="carousel")
               .carousel-inner
                  .carousel-item.active
                     img(src="./images/1.jpg" alt="slide_1")
                  |
                  .carousel-item
                     img(src="./images/2.jpg" alt="slide_2")
                  |
                  .carousel-item
                     img(src="./images/3.jpg" alt="slide_3")
   .col.col-lg-4.col-md-10.col-sm-12.mx-auto
      .shadow.bg-white.rounded
         .card
            img(src="./images/1.jpg" alt="slide_1")
|
.row.mx-auto.col-lg-8.col-md-10.col-sm-12.mt-3
   .col.col-lg-6.col-md-6.col-sm-12.mx-auto
      .shadow.bg-white.rounded
         .card.shadow.bg-white.rounded
            img(src="./images/2.jpg" alt="slide_2")
   |
   .col.col-lg-6.col-md-6.col-sm-12.mx-auto
      .shadow.bg-white.rounded
         .card
            img(src="./images/3.jpg" alt="slide_3")
|
.row.mx-auto.col-lg-8.col-md-10.col-sm-12.mt-3
   .col.col-lg-12.col-md-12.col-sm-12.mx-auto
      .shadow.bg-white.rounded
         .card
            img(src="./images/3.jpg" alt="slide_3")